* {
    margin: 0px;
    padding: 0px;
}

.body {
    font-family: Helvetica, sans-serif;
    background-color: #6D8B74;
    color: #EFEAD8;
}

.containerPadre {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 0.7fr 20vh 100px;
    gap: 10px 10px;
    grid-template-areas:
        "taller"
        "historia"
        "ubicacion"
        "footer";
    justify-items: center;
    align-items: center;
}

.taller {
    grid-area: taller;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.taller img {
    max-width: 100%;
    height: auto;
}

.historia {
    grid-area: historia;
    max-width: 100%;
    padding: 10px;
    background-color: #5F7161;
    margin: 50px 5%;
    border-radius: 10px 10px;
    color: white;
}

.ubicacion {
    grid-area: ubicacion;
    max-width: 50%;
    padding: 10px;
    background-color: #5F7161;
    margin: 5% 25% 5%;
    position: relative;
    border-radius: 15px;
    color: #1A3C40;
    text-align: center;
}

.ubicacion h2 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

.ubicacion p {
    color: white;
    margin-bottom: 15px;
    padding: 10px;
}

.btn {
    transform: scale(1);
    background-color: #24331a;
    border-color: #24331a;
}

.btn:hover {
    transform: scale(1.3);
    transition: 0.5s;
    background-color: #24331a;
    border-color: #5F7161;
}

/* nosotros */

.containerNosotros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 100px;
    gap: 0px 0px;
    grid-template-areas:
        "box1 box2"
        "box3 box4"
        "footer footer";
}

.box1 {
    grid-area: box1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2 {
    grid-area: box2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box3 {
    grid-area: box3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box4 {
    grid-area: box4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.emp {
    padding: 10px;
    background-color: #5F7161;
    margin: 3%;
    border-radius: 0px 30px 30px;
    color: #1A3C40;
}

.emp p {
    max-width: 50%;
    display: inline-block;
    margin: 5% 10%;
    text-align: justify;
    color: white;
}

.emp img {
    height: 200px;
    width: 200px;
}

/* Cliente */

.carouselCliente {
    margin: 50px;
    background-color: #5F7161;
    border-radius: 10px;
}

.containerCliente {
    text-align: center;
    padding: 3% 15%;
}

.cliente-foto {
    margin: 25px;
    height: 150px;
}


/* taller */
.nuestroTaller {
    margin: 10px auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.tallerImg {
    margin: 15px auto 50px;
}

.carTexto {
    font-weight: bold;
    color: #24331a;
    margin-bottom: 50px;
}

/* Contacto */
.accordion {
    margin: 10px;
}

.containerContacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6fr 1fr;
    grid-template-areas:
        "formulario"
        "footer";
    align-items: center;
    justify-items: center;
}

.formulario {
    grid-area: formulario;
    max-width: 100%;
    padding: 30px;
    background-color: #6D8B74;
    overflow: hidden;
    border: solid 3px #A2B38B;
    color: #D0C9C0;
    margin: 5%;
}

.contFlex {
    display: flex;
    flex-direction: column;
}

.contFlex input {
    text-align: center;
    margin: 5px;
}

.envio:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border-radius: 10px;
    background-color: #5F7161;
    color: white;
}

/* footer */

.footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-color: #c6c6c6;
    color: #5F7161;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.iconFooter {
    text-align: center;
}

.iconFooter i {
    display: flexbox;
    font-size: 2.5rem;
    padding: 5%;
    opacity: 0.5;
}

.iconFooter i:hover {
    opacity: 1;
    transform: rotate(360deg);
    transition: 1s;
}

@media (max-width: 1024px) {
    .containerNosotros {
        max-width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 100px;
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4"
            "footer"
    }

    .emp img {
        height: 100px;
        width: 100px;
    }

    .carTexto {
        font-weight: 500;
        color: #f8f8f8;
    }
}